@media(min-width: 375px) and (max-width: 1079px) {
	body{
		text-align: center;
	}

	header img{
		width: 100%;
		opacity: 0.6;
		border-radius: 10px 10px 0px 0px;
	}

	section{
		margin: 15px;
	}

	div{
		padding-bottom: 10px;
	}

}